#about {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.aboutTitle {
    font-size:  2.5rem;
    font-weight: 500;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.aboutDetail{
    font-weight: 300;
    font-size: 1.0rem;
    max-width: 51rem;
    padding: 0 2rem;
}

.skillBars{
    margin: 1rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.skillBar{
    display: flex;
    margin: 0.5rem;
    padding: 0.5rem;
}


.skillBarImg{
    object-fit: fit;
    height: 1.4rem;
    width: 1rem;
    margin-right: 1rem;
}

.skill{
    font-size: 1rem;
    font-weight: 300;
}

.skillheading{
    padding-top: 2rem;
    margin-right: 1rem;
}